


<div class="col-lg-3">
  <span class="label label-danger">{{mensaje}}</span>
  <div class="portlet-body">
    <form name="myForm">
      <div class="form-body pal">
        <div class="form-group">
          <label class="control-label" for="inputName">
            Contraseña Actual
          </label>
          <div class="input-icon right">
            <i class="fa fa-user"></i>
            <input type="password" class="form-control"  ng-model="contrasenaActual" required >
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="inputName">
            Nueva contraseña
          </label>
          <div class="input-icon right">
            <input type="password" class="form-control"  ng-model="nuevaContrasena" required >
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="inputName">
            Confirme nueva contraseña
          </label>
          <div class="input-icon right">
            <input type="password" class="form-control"  ng-model="nuevaContrasena2" required >
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="cambiarContrasena()">Cambiar Contraseña</button>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
