<!--BEGIN THEME SETTING-->
<div id="theme-setting" class="filterList" ng-class="{'open':filterList}" ng-mouseenter="filterList=true" ng-mouseleave="filterList=false">
  <a href="#" data-toggle="dropdown" data-step="1" data-intro="&lt;b&gt;Many styles&lt;/b&gt; and &lt;b&gt;colors&lt;/b&gt; be created for you. Let choose one and enjoy it!"
    data-position="left" class="btn-theme-setting"><i class="fa fa-cog"></i></a>
  <div class="content-theme-setting">
    <div class="form-group">
      <div class="checkboxx">
        <label>
          <input type="checkbox" checked="false" ng-model="searchOptions.mostrarEventosFinalizados" ng-change="actualizarRegistros()"/>&nbsp; Mostrar eventos finalizados en la últimas 12hs.
        </label>
      </div>
    </div>
  </div>
</div>
<!--END THEME SETTING-->

<div class="row mbl" id="sum_box">
  <div class="col-sm-2 col-md-1" ng-click="mostrarEvento(0)">
    <div class="panel profit db mbm">
      <div class="panel-body text-center"><i class="fa fa-plus fa-4x"></i></div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3" ng-repeat="r in registros | orderBy:'-fechaRegistro'" ng-mouseover="mostrarBotonesAuxiliares = r._id"
    ng-mouseleave="mostrarBotonesAuxiliares = 0">
    <div class="panel profit db mbm">
      <div class="panel-body">
        <div ng-click="mostrarEvento(r._id)" style="cursor:pointer;">
          <h4 class="value">{{r.direccion}}<i ng-show="r.fechaCierre != null" class="fa fa-lock pull-right"></i></h4>
          <p class="description"><span am-time-ago="r.fechaRegistro"></span></p>
          <div ng-switch="r.clasificacion">
            <div ng-switch-when="3" class="note note-danger">
              <h4 class="box-heading">
                {{r.observacionesClasificacion}}
              </h4>
            </div>
            <div ng-switch-when="2" class="note note-warning">
              <h4 class="box-heading">
                {{r.observacionesClasificacion}}
              </h4>
            </div>
            <div ng-switch-when="1" class="note note-success">
              <h4 class="box-heading">
                {{r.observacionesClasificacion}}
              </h4>
            </div>
          </div>
        </div>

        <!-- SALIDAS -->

        <div class="col-sm-6 col-md-3" ng-repeat="s in (r.salidas | filter : {fechaQRU : null})" ng-mouseover="mostrarBotonesSalida = s._id"
          ng-mouseleave="mostrarBotonesSalida = 0">

          <i class="icon fa fa-ambulance"></i>
          <span><b>{{s.nombreMovil}}</b></span>
          <span ng-if="!s.fechaEnMovimiento">Preparando para salir.</span>
          <span ng-if="!s.fechaArribo && s.fechaEnMovimiento">En camino.</span>
          <span ng-if="!s.fechaDestino && s.fechaArribo">Trabajando en el lugar.</span>
          <span ng-if="!s.fechaQRU && s.fechaDestino">{{s.tipoSalida.nombre +" "+ s.tipoSalida.destino}}</span>
          <!-- Botones de acción de cada salida -->
          <div ng-show="mostrarBotonesSalida == s._id">
            <button ng-if="s.fechaEnMovimiento == null" class="btn btn-warning" ng-click="indicarMovimiento(r._id, s._id)" title="Indicar movimiento"><i class="fa fa-bell"></i> Mov.</button>
            <button ng-if="s.fechaEnMovimiento != null && s.fechaArribo == null" class="btn btn-warning" ng-click="indicarArribo(r._id, s._id)" title="Indicar Arribo"><i class="fa fa-bell"></i> Arr.</button>
            <button ng-if="s.fechaDestino != null && s.fechaQRU == null" class="btn btn-warning" ng-click="indicarQRU(r._id, s._id)" title="Indicar QRU"><i class="fa fa-bell"></i> QRU</button>            
          </div>

        </div>

      </div>
      <div ng-show="mostrarBotonesAuxiliares == r._id">
        <button ng-click="generarTextoSMS(r._id)" class="btn" title="Copia y pega el resumen del evento en el chat."><i class="fa fa-magic" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>