<div class="row">
    <div class="col-md-3">
        <h1><i class="fa fa-ambulance"></i> </h1>
        <div class="margin-top-20"></div>

        <div ng-show="loading" class="text-center cssFade">
            <i class="fa fa-cog fa-spin fa-4x"></i>
            <h2>Intentando conectar...</h2>
        </div>

        <div ng-show="!loading" class="cssFade">
            <!--<button ng-click="Dibujar100Puntos()">Dibujar</button>
            <input type="text" class="form-control" placeholder="Buscar" ng-model="searchText" />-->

            <table class="table margin-top-10">
                <tr>
                    <th>Móviles</th>
                    <th></th>
                    
                </tr>
                <tr ng-repeat="(key,value) in moviles  track by $index" class="{{personalSelected}}">
                    <td>                        
                        <i class="fa fa-circle dot" ng-class="{greenDot: IsMobileOnline(value.movimiento.date)}" title="Ultima posición reportada {{value.movimiento.date | date : 'dd/MM HH:mm'}}"></i>
                        <i class="fa fa-map-marker red" ng-show="!value.device.isGpsOn" title="El gps se encuentra desactivado."></i>
                        <i class="fa fa-battery-quarter" ng-show="value.device.battery_low" title="Batería baja"></i>
                        <i class="fa fa-exclamation-triangle" ng-show="value.movimiento.provider == 'network'" title="Gps sin señal - Se utiliza la red de telefonía celular."></i>
                        <i class="fa fa-retweet red" ng-show="!value.device.isMobileDataOn" title="Datos móviles desactivados."></i>
                        <b>{{value.nombre}}</b> {{value.movimiento.speed > 15 ? value.movimiento.speed + " Km/h": ""}}</td>

                    <td>
                        <button ng-click="CentrarMapa(value.movimiento)" title="Centra el mapa en la posición del móvil." class="btn pull-right"><i class="fa fa-map-marker"></i></button></td>
                    
                </tr>
            </table>
            
        </div>
    </div>


    <div class="col-md-9" >

        <ui-gmap-google-map id="MonitorMap" center='map.center' zoom='map.zoom' control="map.control">
            <ui-gmap-markers models='moviles' idKey="'_id'" coords="'movimiento'" options="'options'"></ui-gmap-markers>
            <ui-gmap-markers models='registros' idKey="'_id'" coords="'coordenadas'" options="'options'">
                <ui-gmap-windows show="show">
                    <div ng-non-bindable>
                        <b>{{observacionesClasificacion}}</b>
                        <p>Direccion: <b>{{direccion}}</b></p>
                        <p>Tel: <b>{{telefonoContacto}}</b></p>
                        <p>Ref: <b>{{referenciaDireccion}}</b></p>
                    </div>
                </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>

    </div>

</div>