<div class="row">
    <div class="col-md-3">
        <h1><i class="fa fa-ambulance"></i> </h1>
        <div class="margin-top-20"></div>

        <div ng-show="loading" class="text-center cssFade">
            <i class="fa fa-cog fa-spin fa-4x"></i>
        </div>

        <div ng-show="!loading" class="cssFade">
            <button ng-click="Dibujar100Puntos()">Dibujar</button>
            <!--<input type="text" class="form-control" placeholder="Buscar" ng-model="searchText" />-->
            <table class="table margin-top-10">
                <tr>
                    <th>Móvil</th>
                    <th></th>
                </tr>
                <tr ng-repeat="(key,value) in moviles  track by $index" class="{{personalSelected}}">
                    <td>
                    <i class="fa fa-circle dot" ng-class="{greenDot: value.online}"></i>
                    <i class="fa fa-map-marker red" ng-show="!value.isGpsOn" title="El gps se encuentra desactivado."></i> 
                    <i class="fa fa-battery-quarter" ng-show="value.battery_low" title="Batería baja"></i>
                    {{value.nombre}}</td>

                    <td>
                        <button ng-click="CentrarMapa(value.posicion)"><i class="fa fa-arrow-circle-right"></i></button></td>
                </tr>
            </table>
        </div>
    </div>


    <div class="col-md-9">

        <ui-gmap-google-map id="MonitorMap" center='map.center' zoom='map.zoom' control="map.control">
            <ui-gmap-markers models='moviles' idKey="'$id'" coords="'posicion'" options="'options'">
        </ui-gmap-google-map>

    </div>

</div>